<h1><%= @coding_skill.name %></h1>



<% if @coding_skill.projects.any? %>
<h4>Here are the projects for <%= @coding_skill.name %> </h4>


<ul>
  <% @coding_skill.projects.each do |project| %>
    <li>
      <%= project.description %> |
      <%= link_to "Edit", edit_coding_skill_project_path(@coding_skill, project) %> |
      <%= link_to "Delete", coding_skill_project_path(@coding_skill, project),
                                          :data => {:confirm => "You sure, broski?",
                                          :method => "delete"} %> </p>

    </li>
    <% end %>
</ul>

<% else %>
<p>
  There are no projects for <%= @coding_skill.name %> just yet!
</p>

<% end %>

<p> <%= link_to "Add a project", new_coding_skill_project_path(@coding_skill) %></p>
<p><%= link_to "Delete Coding Skill", coding_skill_path(@coding_skill),
                                      :data => {"confirm" => "You sure, broski?",
                                      :method => "delete"} %></p>

<p> <%= link_to "Return to Homepage", coding_skills_path %></p>
