<%= render('layouts/errors', :object => @project) %>

<%= form_for [@coding_skill, @project] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :description %>
<%= f.text_field :description %>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
